@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1b1d1b;
}
.color-custom{
  color: #ae8147;
}
.color-custom-bg{
  background-color: #ae8147;
}
.color-custom-bg:hover{
  background-color: #8b6739;
}
.bg-img{
  background: url(../public/images/bggallery.png);
  background-repeat: no-repeat;
  background-size: cover;
}